@import './variables.css';

body {
  padding: 10px 20px;
  background-color: var(--color-background);
  color: var(--color-text);
}

#root {
  max-width: 1024px;
  margin: 0 auto;
}

body.homePage {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: #0f0e17;
}

body.homePage::before {
  z-index: -1000;
  content: '';
  position: absolute;
  inset: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(
      ellipse at 20% 50%,
      rgba(175, 54, 199, 0.35) 0%,
      transparent 35%
    ),
    radial-gradient(
      ellipse at 80% 20%,
      rgba(13, 235, 209, 0.35) 0%,
      transparent 35%
    ),
    radial-gradient(
      ellipse at 60% 80%,
      rgba(188, 72, 240, 0.35) 0%,
      transparent 35%
    ),
    radial-gradient(
      ellipse at 40% 30%,
      rgba(9, 166, 130, 0.231) 0%,
      transparent 25%
    ),
    radial-gradient(
      ellipse at 10% 80%,
      rgba(232, 72, 85, 0.422) 0%,
      transparent 25%
    );
  animation: moodShift 8s ease-in-out infinite alternate;
  filter: blur(25px);
}

@keyframes moodShift {
  0% {
    transform: translate(0%, 0%) rotate(0deg) scale(1);
  }
  33% {
    transform: translate(10%, -10%) rotate(15deg) scale(1.1);
  }
  66% {
    transform: translate(-10%, 10%) rotate(-10deg) scale(0.9);
  }
  100% {
    transform: translate(6%, -6%) rotate(12deg) scale(1.08);
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: var(--color-primary);
  border: 1px solid var(--color-accent);
  color: var(--color-text);
  font-size: var(--font-size-md);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  /* Experimental - fun! */
  corner-shape: bevel;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h2 {
  margin-bottom: 60px;
}

body, p {
  font-family: var(--font-family-body);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-md);
}

.hide {
  display: none;
}

.show {
  display: block;
}